/* Add this to your CSS file */
.action-image {
    animation: pop 0.3s ease-in-out forwards;
  }
  
  @keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  

/* Add this to your CSS file */

/* Keyframes for fading in from the top */
@keyframes fadeInFromTop {
    0% {
      opacity: 0; /* Start completely transparent */
      transform: translateY(-20px); /* Start slightly above the final position */
    }
    100% {
      opacity: 1; /* Fully opaque */
      transform: translateY(0); /* Final position */
    }
  }
  
 /* Keyframes for fading in from the bottom */
@keyframes fadeInFromBottom {
    0% {
      opacity: 0; /* Start completely transparent */
      transform: translateY(20px); /* Start slightly below the final position */
    }
    100% {
      opacity: 1; /* Fully opaque */
      transform: translateY(0); /* Final position */
    }
  }
  
  /* Animation for new-action-image */
  .new-action-image {
    position: absolute; /* Positioning to enable placement */
    left: 123px; /* Static left position */
    top: 168px;  /* Static top position */
    animation: fadeInFromBottom 0.5s ease forwards; /* Apply the bottom-to-top fade-in animation */
    display: none; /* Initially hidden */
  }
  
  /* Class to show the image */
  .new-action-image.show {
    display: block; /* Show the image */
  }
  
  /* Class to hide the image */
  .new-action-image.hide {
    display: none; /* Remove the image from display when hiding */
  }
  

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s; /* Adjust delay as needed */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slowFadeInOut {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    30% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  .level-up-animation {
    animation: slowFadeInOut 5s ease-in-out forwards;
  }
  


  /* App.css */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Slight opacity for overlay effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it overlays other elements */
}


.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-bar {
  width: 300px; /* Adjust width as needed */
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #e8ce50, #ee0c57); 
  border-radius: 10px;
  transition: width 0.4s ease;
}


.loading-text {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  animation: pulse 1s infinite;
}


.progress-meter-container {
  width: 100%;
  max-width: 400px; 
  background-color: transparent; 
  border-radius: 8px; 
  position: relative;
  margin: 20px auto;
}

.progress-meter-container {
  width: 100%; 
  max-width: 400px; 
  background-color: #ffffff; 
  border-radius: 5px; 
  position: relative;
  margin: 20px auto;
  border: 1px solid white; 
  height: 5px; 
  min-width: 100%; 
}

.invisible-dots {
  visibility: hidden; 
  height: 10px; 
}

.progress-bar {
  height: 100%; 
  background-color: #ec635b; 
  width: 0%; 
  border-radius: 5px; 
  transition: width 0.1s ease-in-out; 
}





@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.blinking {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
